<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title>Notes</title>   
</head>

<body>
<br>
<br>

<div class="container">
	
</div>

<div class="container">

	<h3>Notes</h3>
	<hr>
	<br>
	<br>
	<!-- Add a button -->
	  <a th:href="@{/showFormForAddNotes}"
		class="btn btn-primary ">
		Add Notes
	</a>
	
 <br>
 <br>
	<br>

	<div class="container-fluid">
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Title</th>
				<th>Content</th>
				<th>CreatedAt</th>
				<th>UpdatedAt</th>
				<th>Actions</th>
			</tr>
		</thead>
	
		<tbody>
			<tr th:each="tempIncome : ${notes}">
			
			
				<td th:text="${tempIncome.title}" />
					<td th:text="${tempIncome.content}"/>
					<td th:text="${tempIncome.createdAt}"/>
					<td th:text="${tempIncome.updatedAt}"/>
				  <td> <a th:href="@{/updateNote/{id}(id=${tempIncome.id})}" class="btn btn-primary">
                                        Update</a> <a th:href="@{/deleteNote/{id}(id=${tempIncome.id})}"class="btn btn-danger">Delete</a> 
			  
								<br>
							
			</tr>
			
			<tr>
			
     
 
    
        
    </tr>
		</tbody>	
		
	</table>
	
	</div>
	
	<br>
	<br>
	
		<hr>
	
	<br>
	<br>
	

</div>
	
</body>
</html>
